/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentViewsRpmModuleStreamsAPIService ContentViewsRpmModuleStreamsAPI service
type ContentViewsRpmModuleStreamsAPIService service

type ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest struct {
	ctx context.Context
	ApiService *ContentViewsRpmModuleStreamsAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	rpmNames *string
	search *string
	sortBy *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Maximum number of results to return.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) Limit(limit int32) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) Offset(offset int32) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.offset = &offset
	return r
}

// Comma-separated list of RPM package names; only module streams containing at least one of these packages are returned.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) RpmNames(rpmNames string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.rpmNames = &rpmNames
	return r
}

// Case-insensitive substring/prefix search term.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) Search(search string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.search = &search
	return r
}

// Field to sort by; prefix with &#39;-&#39; for descending order.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) SortBy(sortBy string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.sortBy = &sortBy
	return r
}

// A list of fields to include in the response.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) Fields(fields []string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) ExcludeFields(excludeFields []string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) Execute() (*PaginatedContentViewModuleStreamResponseList, *http.Response, error) {
	return r.ApiService.ContentViewsSearchRpmModuleStreamsListExecute(r)
}

/*
ContentViewsSearchRpmModuleStreamsList List content view search scopes

Module stream search: name/stream substring match, optional RPM name filter, capped.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest
*/
func (a *ContentViewsRpmModuleStreamsAPIService) ContentViewsSearchRpmModuleStreamsList(ctx context.Context, serviceContentViewHref string) ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest {
	return ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return PaginatedContentViewModuleStreamResponseList
func (a *ContentViewsRpmModuleStreamsAPIService) ContentViewsSearchRpmModuleStreamsListExecute(r ContentViewsRpmModuleStreamsAPIContentViewsSearchRpmModuleStreamsListRequest) (*PaginatedContentViewModuleStreamResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedContentViewModuleStreamResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsRpmModuleStreamsAPIService.ContentViewsSearchRpmModuleStreamsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}search/rpm/module-streams/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.rpmNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rpm_names", r.rpmNames, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
