/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ApiDebugTaskDebugAPIService ApiDebugTaskDebugAPI service
type ApiDebugTaskDebugAPIService service

type ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest struct {
	ctx context.Context
	ApiService *ApiDebugTaskDebugAPIService
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest) Fields(fields []string) ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest) ExcludeFields(excludeFields []string) ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiPulpDebugTaskDebugGetExecute(r)
}

/*
ApiPulpDebugTaskDebugGet Method for ApiPulpDebugTaskDebugGet

Admin-only endpoint providing comprehensive debug information for a task.Returns task state, app_lock info, Redis lock state for all resources,queue position, blocking tasks, version compatibility analysis,FIFO blocking simulation, lock holder liveness, and an automateddiagnosis explaining WHY the task is stuck.Covers detection of all 5 known stuck-task bugs:  Bug 1: app_lock set but never cleared after is_compatible() failure  Bug 2: Orphaned Redis locks from dead workers (no TTL)  Bug 3: FETCH_TASK_LIMIT=20 starvation  Bug 4: FIFO resource blocking in worker fetch loop  Bug 5: Split Redis between API and worker clusters

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest
*/
func (a *ApiDebugTaskDebugAPIService) ApiPulpDebugTaskDebugGet(ctx context.Context) ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest {
	return ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ApiDebugTaskDebugAPIService) ApiPulpDebugTaskDebugGetExecute(r ApiDebugTaskDebugAPIApiPulpDebugTaskDebugGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiDebugTaskDebugAPIService.ApiPulpDebugTaskDebugGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/debug/task-debug/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
