/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// Datarepair7272APIService Datarepair7272API service
type Datarepair7272APIService service

type Datarepair7272APIDatarepair7272PostRequest struct {
	ctx context.Context
	ApiService *Datarepair7272APIService
	pulpDomain string
	dataRepair7272 *DataRepair7272
	xTaskDiagnostics *[]string
}

func (r Datarepair7272APIDatarepair7272PostRequest) DataRepair7272(dataRepair7272 DataRepair7272) Datarepair7272APIDatarepair7272PostRequest {
	r.dataRepair7272 = &dataRepair7272
	return r
}

// List of profilers to use on tasks.
func (r Datarepair7272APIDatarepair7272PostRequest) XTaskDiagnostics(xTaskDiagnostics []string) Datarepair7272APIDatarepair7272PostRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r Datarepair7272APIDatarepair7272PostRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.Datarepair7272PostExecute(r)
}

/*
Datarepair7272Post Repair Repository Version Data (Issue #7272)

Trigger an asynchronous task that repairs repository version content_ids cache and content count mismatches (Issue #7272). This task fixes two types of data corruption: 1) Mismatch between RepositoryVersion.content_ids cache and actual RepositoryContent relationships, and 2) Mismatch between RepositoryVersionContentDetails count and actual RepositoryContent count.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return Datarepair7272APIDatarepair7272PostRequest
*/
func (a *Datarepair7272APIService) Datarepair7272Post(ctx context.Context, pulpDomain string) Datarepair7272APIDatarepair7272PostRequest {
	return Datarepair7272APIDatarepair7272PostRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *Datarepair7272APIService) Datarepair7272PostExecute(r Datarepair7272APIDatarepair7272PostRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Datarepair7272APIService.Datarepair7272Post")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/datarepair/7272/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataRepair7272 == nil {
		return localVarReturnValue, nil, reportError("dataRepair7272 is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.dataRepair7272
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
