/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// NpmAPIService NpmAPI service
type NpmAPIService service

type NpmAPINpmPutRequest struct {
	ctx context.Context
	ApiService *NpmAPIService
	packageName string
	path string
	pulpDomain string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r NpmAPINpmPutRequest) XTaskDiagnostics(xTaskDiagnostics []string) NpmAPINpmPutRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r NpmAPINpmPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.NpmPutExecute(r)
}

/*
NpmPut Method for NpmPut

Handle npm/yarn publish requests (``PUT /``).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param packageName
 @param path
 @param pulpDomain
 @return NpmAPINpmPutRequest
*/
func (a *NpmAPIService) NpmPut(ctx context.Context, packageName string, path string, pulpDomain string) NpmAPINpmPutRequest {
	return NpmAPINpmPutRequest{
		ApiService: a,
		ctx: ctx,
		packageName: packageName,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
func (a *NpmAPIService) NpmPutExecute(r NpmAPINpmPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NpmAPIService.NpmPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/npm/{pulp_domain}/{path}/{package_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"package_name"+"}", url.PathEscape(parameterValueToString(r.packageName, "packageName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
