/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// ContentMetadataAPIService ContentMetadataAPI service
type ContentMetadataAPIService service

type ContentMetadataAPIContentMavenMetadataCreateRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	pulpDomain string
	relativePath *string
	xTaskDiagnostics *[]string
	repository *string
	overwrite *bool
	pulpLabels *map[string]*string
	artifact *string
	file *os.File
	upload *string
	fileUrl *string
	downloaderConfig *RemoteNetworkConfig
}

// Path where the artifact is located relative to distributions base_path
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) RelativePath(relativePath string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.relativePath = &relativePath
	return r
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) Repository(repository string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.repository = &repository
	return r
}

// When set to true, existing content in the repository with the same unique key will be silently overwritten. When set to false, the task will fail if content would be overwritten. Only used when &#39;repository&#39; is specified. Defaults to true.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) Overwrite(overwrite bool) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.overwrite = &overwrite
	return r
}

// A dictionary of arbitrary key/value pairs used to describe a specific Content instance.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) PulpLabels(pulpLabels map[string]*string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.pulpLabels = &pulpLabels
	return r
}

// Artifact file representing the physical content
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) Artifact(artifact string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.artifact = &artifact
	return r
}

// An uploaded file that may be turned into the content unit.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) File(file *os.File) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.file = file
	return r
}

// An uncommitted upload that may be turned into the content unit.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) Upload(upload string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.upload = &upload
	return r
}

// A url that Pulp can download and turn into the content unit.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) FileUrl(fileUrl string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.fileUrl = &fileUrl
	return r
}

// Configuration for the download process (e.g., proxies, auth, timeouts). Only applicable when providing a &#39;file_url.
func (r ContentMetadataAPIContentMavenMetadataCreateRequest) DownloaderConfig(downloaderConfig RemoteNetworkConfig) ContentMetadataAPIContentMavenMetadataCreateRequest {
	r.downloaderConfig = &downloaderConfig
	return r
}

func (r ContentMetadataAPIContentMavenMetadataCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataCreateExecute(r)
}

/*
ContentMavenMetadataCreate Create a maven metadata

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentMetadataAPIContentMavenMetadataCreateRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataCreate(ctx context.Context, pulpDomain string) ContentMetadataAPIContentMavenMetadataCreateRequest {
	return ContentMetadataAPIContentMavenMetadataCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentMetadataAPIService) ContentMavenMetadataCreateExecute(r ContentMetadataAPIContentMavenMetadataCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/maven/metadata/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.relativePath == nil {
		return localVarReturnValue, nil, reportError("relativePath is required and must be specified")
	}
	if strlen(*r.relativePath) < 1 {
		return localVarReturnValue, nil, reportError("relativePath must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repository", r.repository, "", "")
	}
	if r.overwrite != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "overwrite", r.overwrite, "", "")
	}
	if r.pulpLabels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "pulp_labels", r.pulpLabels, "", "")
	}
	if r.artifact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "artifact", r.artifact, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "relative_path", r.relativePath, "", "")
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.upload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload", r.upload, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.downloaderConfig != nil {
		paramJson, err := parameterToJson(*r.downloaderConfig)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		localVarFormParams.Add("downloader_config", paramJson)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMetadataAPIContentMavenMetadataListRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	artifactId *string
	filename *string
	groupId *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	version *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where artifact_id matches value
func (r ContentMetadataAPIContentMavenMetadataListRequest) ArtifactId(artifactId string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.artifactId = &artifactId
	return r
}

// Filter results where filename matches value
func (r ContentMetadataAPIContentMavenMetadataListRequest) Filename(filename string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.filename = &filename
	return r
}

// Filter results where group_id matches value
func (r ContentMetadataAPIContentMavenMetadataListRequest) GroupId(groupId string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.groupId = &groupId
	return r
}

// Number of results to return per page.
func (r ContentMetadataAPIContentMavenMetadataListRequest) Limit(limit int32) ContentMetadataAPIContentMavenMetadataListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentMetadataAPIContentMavenMetadataListRequest) Offset(offset int32) ContentMetadataAPIContentMavenMetadataListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;group_id&#x60; - Group id* &#x60;-group_id&#x60; - Group id (descending)* &#x60;artifact_id&#x60; - Artifact id* &#x60;-artifact_id&#x60; - Artifact id (descending)* &#x60;version&#x60; - Version* &#x60;-version&#x60; - Version (descending)* &#x60;filename&#x60; - Filename* &#x60;-filename&#x60; - Filename (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentMetadataAPIContentMavenMetadataListRequest) Ordering(ordering []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentMetadataAPIContentMavenMetadataListRequest) OrphanedFor(orphanedFor float32) ContentMetadataAPIContentMavenMetadataListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentMetadataAPIContentMavenMetadataListRequest) PrnIn(prnIn []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentMetadataAPIContentMavenMetadataListRequest) PulpHrefIn(pulpHrefIn []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentMetadataAPIContentMavenMetadataListRequest) PulpIdIn(pulpIdIn []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentMetadataAPIContentMavenMetadataListRequest) PulpLabelSelect(pulpLabelSelect string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentMetadataAPIContentMavenMetadataListRequest) Q(q string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.q = &q
	return r
}

func (r ContentMetadataAPIContentMavenMetadataListRequest) RepositoryVersion(repositoryVersion string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

func (r ContentMetadataAPIContentMavenMetadataListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

func (r ContentMetadataAPIContentMavenMetadataListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where version matches value
func (r ContentMetadataAPIContentMavenMetadataListRequest) Version(version string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.version = &version
	return r
}

// A list of fields to include in the response.
func (r ContentMetadataAPIContentMavenMetadataListRequest) Fields(fields []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentMetadataAPIContentMavenMetadataListRequest) ExcludeFields(excludeFields []string) ContentMetadataAPIContentMavenMetadataListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentMetadataAPIContentMavenMetadataListRequest) Execute() (*PaginatedmavenMavenMetadataResponseList, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataListExecute(r)
}

/*
ContentMavenMetadataList List maven metadatas

A ViewSet for MavenMetadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentMetadataAPIContentMavenMetadataListRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataList(ctx context.Context, pulpDomain string) ContentMetadataAPIContentMavenMetadataListRequest {
	return ContentMetadataAPIContentMavenMetadataListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedmavenMavenMetadataResponseList
func (a *ContentMetadataAPIService) ContentMavenMetadataListExecute(r ContentMetadataAPIContentMavenMetadataListRequest) (*PaginatedmavenMavenMetadataResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedmavenMavenMetadataResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/maven/metadata/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.artifactId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "artifact_id", r.artifactId, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMetadataAPIContentMavenMetadataReadRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	mavenMavenMetadataHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentMetadataAPIContentMavenMetadataReadRequest) Fields(fields []string) ContentMetadataAPIContentMavenMetadataReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentMetadataAPIContentMavenMetadataReadRequest) ExcludeFields(excludeFields []string) ContentMetadataAPIContentMavenMetadataReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentMetadataAPIContentMavenMetadataReadRequest) Execute() (*MavenMavenMetadataResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataReadExecute(r)
}

/*
ContentMavenMetadataRead Inspect a maven metadata

A ViewSet for MavenMetadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenMetadataHref
 @return ContentMetadataAPIContentMavenMetadataReadRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataRead(ctx context.Context, mavenMavenMetadataHref string) ContentMetadataAPIContentMavenMetadataReadRequest {
	return ContentMetadataAPIContentMavenMetadataReadRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenMetadataHref: mavenMavenMetadataHref,
	}
}

// Execute executes the request
//  @return MavenMavenMetadataResponse
func (a *ContentMetadataAPIService) ContentMavenMetadataReadExecute(r ContentMetadataAPIContentMavenMetadataReadRequest) (*MavenMavenMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MavenMavenMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_metadata_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_metadata_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenMetadataHref, "mavenMavenMetadataHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMetadataAPIContentMavenMetadataSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	mavenMavenMetadataHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentMetadataAPIContentMavenMetadataSetLabelRequest) SetLabel(setLabel SetLabel) ContentMetadataAPIContentMavenMetadataSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentMetadataAPIContentMavenMetadataSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataSetLabelExecute(r)
}

/*
ContentMavenMetadataSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenMetadataHref
 @return ContentMetadataAPIContentMavenMetadataSetLabelRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataSetLabel(ctx context.Context, mavenMavenMetadataHref string) ContentMetadataAPIContentMavenMetadataSetLabelRequest {
	return ContentMetadataAPIContentMavenMetadataSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenMetadataHref: mavenMavenMetadataHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentMetadataAPIService) ContentMavenMetadataSetLabelExecute(r ContentMetadataAPIContentMavenMetadataSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_metadata_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_metadata_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenMetadataHref, "mavenMavenMetadataHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMetadataAPIContentMavenMetadataUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	mavenMavenMetadataHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentMetadataAPIContentMavenMetadataUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentMetadataAPIContentMavenMetadataUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentMetadataAPIContentMavenMetadataUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataUnsetLabelExecute(r)
}

/*
ContentMavenMetadataUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenMetadataHref
 @return ContentMetadataAPIContentMavenMetadataUnsetLabelRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataUnsetLabel(ctx context.Context, mavenMavenMetadataHref string) ContentMetadataAPIContentMavenMetadataUnsetLabelRequest {
	return ContentMetadataAPIContentMavenMetadataUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenMetadataHref: mavenMavenMetadataHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentMetadataAPIService) ContentMavenMetadataUnsetLabelExecute(r ContentMetadataAPIContentMavenMetadataUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_metadata_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_metadata_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenMetadataHref, "mavenMavenMetadataHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMetadataAPIContentMavenMetadataUploadRequest struct {
	ctx context.Context
	ApiService *ContentMetadataAPIService
	pulpDomain string
	relativePath *string
	xTaskDiagnostics *[]string
	repository *string
	overwrite *bool
	pulpLabels *map[string]*string
	artifact *string
	file *os.File
	upload *string
	fileUrl *string
	downloaderConfig *RemoteNetworkConfig
}

// Path where the artifact is located relative to distributions base_path
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) RelativePath(relativePath string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.relativePath = &relativePath
	return r
}

// List of profilers to use on tasks.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) Repository(repository string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.repository = &repository
	return r
}

// When set to true, existing content in the repository with the same unique key will be silently overwritten. When set to false, the task will fail if content would be overwritten. Only used when &#39;repository&#39; is specified. Defaults to true.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) Overwrite(overwrite bool) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.overwrite = &overwrite
	return r
}

// A dictionary of arbitrary key/value pairs used to describe a specific Content instance.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) PulpLabels(pulpLabels map[string]*string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.pulpLabels = &pulpLabels
	return r
}

// Artifact file representing the physical content
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) Artifact(artifact string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.artifact = &artifact
	return r
}

// An uploaded file that may be turned into the content unit.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) File(file *os.File) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.file = file
	return r
}

// An uncommitted upload that may be turned into the content unit.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) Upload(upload string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.upload = &upload
	return r
}

// A url that Pulp can download and turn into the content unit.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) FileUrl(fileUrl string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.fileUrl = &fileUrl
	return r
}

// Configuration for the download process (e.g., proxies, auth, timeouts). Only applicable when providing a &#39;file_url.
func (r ContentMetadataAPIContentMavenMetadataUploadRequest) DownloaderConfig(downloaderConfig RemoteNetworkConfig) ContentMetadataAPIContentMavenMetadataUploadRequest {
	r.downloaderConfig = &downloaderConfig
	return r
}

func (r ContentMetadataAPIContentMavenMetadataUploadRequest) Execute() (*MavenMavenMetadataResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMetadataUploadExecute(r)
}

/*
ContentMavenMetadataUpload Upload a Maven metadata file synchronously.

Synchronously upload a Maven metadata file.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentMetadataAPIContentMavenMetadataUploadRequest
*/
func (a *ContentMetadataAPIService) ContentMavenMetadataUpload(ctx context.Context, pulpDomain string) ContentMetadataAPIContentMavenMetadataUploadRequest {
	return ContentMetadataAPIContentMavenMetadataUploadRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return MavenMavenMetadataResponse
func (a *ContentMetadataAPIService) ContentMavenMetadataUploadExecute(r ContentMetadataAPIContentMavenMetadataUploadRequest) (*MavenMavenMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MavenMavenMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMetadataAPIService.ContentMavenMetadataUpload")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/maven/metadata/upload/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.relativePath == nil {
		return localVarReturnValue, nil, reportError("relativePath is required and must be specified")
	}
	if strlen(*r.relativePath) < 1 {
		return localVarReturnValue, nil, reportError("relativePath must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repository", r.repository, "", "")
	}
	if r.overwrite != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "overwrite", r.overwrite, "", "")
	}
	if r.pulpLabels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "pulp_labels", r.pulpLabels, "", "")
	}
	if r.artifact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "artifact", r.artifact, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "relative_path", r.relativePath, "", "")
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.upload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload", r.upload, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.downloaderConfig != nil {
		paramJson, err := parameterToJson(*r.downloaderConfig)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		localVarFormParams.Add("downloader_config", paramJson)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
