/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ApiTestTriggerOomAPIService ApiTestTriggerOomAPI service
type ApiTestTriggerOomAPIService service

type ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest struct {
	ctx context.Context
	ApiService *ApiTestTriggerOomAPIService
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiPulpTestTriggerOomPostExecute(r)
}

/*
ApiPulpTestTriggerOomPost Method for ApiPulpTestTriggerOomPost

Allocates memory until the container is OOMKilled.Requires superuser authentication. Only available on stage (ENV_NAME=stage).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest
*/
func (a *ApiTestTriggerOomAPIService) ApiPulpTestTriggerOomPost(ctx context.Context) ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest {
	return ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ApiTestTriggerOomAPIService) ApiPulpTestTriggerOomPostExecute(r ApiTestTriggerOomAPIApiPulpTestTriggerOomPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiTestTriggerOomAPIService.ApiPulpTestTriggerOomPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/test/trigger-oom/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
