/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ApiDebugFlushContentCacheAPIService ApiDebugFlushContentCacheAPI service
type ApiDebugFlushContentCacheAPIService service

type ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest struct {
	ctx context.Context
	ApiService *ApiDebugFlushContentCacheAPIService
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ApiPulpDebugFlushContentCachePostExecute(r)
}

/*
ApiPulpDebugFlushContentCachePost Flush the content app's distribution cache (preserves locks)

Dispatch a task that deletes the content-cache hash of every distribution from Redis while leaving worker and task locks intact.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest
*/
func (a *ApiDebugFlushContentCacheAPIService) ApiPulpDebugFlushContentCachePost(ctx context.Context) ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest {
	return ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ApiDebugFlushContentCacheAPIService) ApiPulpDebugFlushContentCachePostExecute(r ApiDebugFlushContentCacheAPIApiPulpDebugFlushContentCachePostRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiDebugFlushContentCacheAPIService.ApiPulpDebugFlushContentCachePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/debug/flush-content-cache/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
