/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PypiUnyankAPIService PypiUnyankAPI service
type PypiUnyankAPIService service

type PypiUnyankAPIPypiUnyankUnyankRequest struct {
	ctx context.Context
	ApiService *PypiUnyankAPIService
	path string
	pulpDomain string
	yank *Yank
	xTaskDiagnostics *[]string
}

func (r PypiUnyankAPIPypiUnyankUnyankRequest) Yank(yank Yank) PypiUnyankAPIPypiUnyankUnyankRequest {
	r.yank = &yank
	return r
}

// List of profilers to use on tasks.
func (r PypiUnyankAPIPypiUnyankUnyankRequest) XTaskDiagnostics(xTaskDiagnostics []string) PypiUnyankAPIPypiUnyankUnyankRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PypiUnyankAPIPypiUnyankUnyankRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PypiUnyankUnyankExecute(r)
}

/*
PypiUnyankUnyank Unyank a package version

Unyank a package version, unmarking all its files with data-yanked.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @param pulpDomain
 @return PypiUnyankAPIPypiUnyankUnyankRequest
*/
func (a *PypiUnyankAPIService) PypiUnyankUnyank(ctx context.Context, path string, pulpDomain string) PypiUnyankAPIPypiUnyankUnyankRequest {
	return PypiUnyankAPIPypiUnyankUnyankRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PypiUnyankAPIService) PypiUnyankUnyankExecute(r PypiUnyankAPIPypiUnyankUnyankRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PypiUnyankAPIService.PypiUnyankUnyank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pypi/{pulp_domain}/{path}/unyank/"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.yank == nil {
		return localVarReturnValue, nil, reportError("yank is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.yank
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
