/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// PypiSimpleAPIService PypiSimpleAPI service
type PypiSimpleAPIService service

type PypiSimpleAPIPypiSimpleCreateRequest struct {
	ctx context.Context
	ApiService *PypiSimpleAPIService
	path string
	pulpDomain string
	content *os.File
	sha256Digest *string
	xTaskDiagnostics *[]string
	action *string
	protocolVersion *ProtocolVersionEnum
	filetype *FiletypeEnum
	metadataVersion *MetadataVersionEnum
	attestations *interface{}
}

// A Python package release file to upload to the index.
func (r PypiSimpleAPIPypiSimpleCreateRequest) Content(content *os.File) PypiSimpleAPIPypiSimpleCreateRequest {
	r.content = content
	return r
}

// SHA256 of package to validate upload integrity.
func (r PypiSimpleAPIPypiSimpleCreateRequest) Sha256Digest(sha256Digest string) PypiSimpleAPIPypiSimpleCreateRequest {
	r.sha256Digest = &sha256Digest
	return r
}

// List of profilers to use on tasks.
func (r PypiSimpleAPIPypiSimpleCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PypiSimpleAPIPypiSimpleCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Defaults to &#x60;file_upload&#x60;, don&#39;t change it or request will fail!
func (r PypiSimpleAPIPypiSimpleCreateRequest) Action(action string) PypiSimpleAPIPypiSimpleCreateRequest {
	r.action = &action
	return r
}

// Protocol version to use for the upload. Only version 1 is supported.* &#x60;1&#x60; - 1
func (r PypiSimpleAPIPypiSimpleCreateRequest) ProtocolVersion(protocolVersion ProtocolVersionEnum) PypiSimpleAPIPypiSimpleCreateRequest {
	r.protocolVersion = &protocolVersion
	return r
}

// Type of artifact to upload.* &#x60;bdist_wheel&#x60; - bdist_wheel* &#x60;sdist&#x60; - sdist
func (r PypiSimpleAPIPypiSimpleCreateRequest) Filetype(filetype FiletypeEnum) PypiSimpleAPIPypiSimpleCreateRequest {
	r.filetype = &filetype
	return r
}

// Metadata version of the uploaded package.* &#x60;1.0&#x60; - 1.0* &#x60;1.1&#x60; - 1.1* &#x60;1.2&#x60; - 1.2* &#x60;2.0&#x60; - 2.0* &#x60;2.1&#x60; - 2.1* &#x60;2.2&#x60; - 2.2* &#x60;2.3&#x60; - 2.3* &#x60;2.4&#x60; - 2.4* &#x60;2.5&#x60; - 2.5
func (r PypiSimpleAPIPypiSimpleCreateRequest) MetadataVersion(metadataVersion MetadataVersionEnum) PypiSimpleAPIPypiSimpleCreateRequest {
	r.metadataVersion = &metadataVersion
	return r
}

// A JSON list containing attestations for the package.
func (r PypiSimpleAPIPypiSimpleCreateRequest) Attestations(attestations interface{}) PypiSimpleAPIPypiSimpleCreateRequest {
	r.attestations = &attestations
	return r
}

func (r PypiSimpleAPIPypiSimpleCreateRequest) Execute() (*PackageUploadTaskResponse, *http.Response, error) {
	return r.ApiService.PypiSimpleCreateExecute(r)
}

/*
PypiSimpleCreate Upload a package

Upload package to the index.This endpoint has the same functionality as the upload endpoint at the `/legacy` url of theindex. This is provided for convenience for users who want a single index url for all theirPython tools. (pip, twine, poetry, pipenv, ...)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @param pulpDomain
 @return PypiSimpleAPIPypiSimpleCreateRequest
*/
func (a *PypiSimpleAPIService) PypiSimpleCreate(ctx context.Context, path string, pulpDomain string) PypiSimpleAPIPypiSimpleCreateRequest {
	return PypiSimpleAPIPypiSimpleCreateRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PackageUploadTaskResponse
func (a *PypiSimpleAPIService) PypiSimpleCreateExecute(r PypiSimpleAPIPypiSimpleCreateRequest) (*PackageUploadTaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PackageUploadTaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PypiSimpleAPIService.PypiSimpleCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pypi/{pulp_domain}/{path}/simple/"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if r.sha256Digest == nil {
		return localVarReturnValue, nil, reportError("sha256Digest is required and must be specified")
	}
	if strlen(*r.sha256Digest) < 64 {
		return localVarReturnValue, nil, reportError("sha256Digest must have at least 64 elements")
	}
	if strlen(*r.sha256Digest) > 64 {
		return localVarReturnValue, nil, reportError("sha256Digest must have less than 64 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var contentLocalVarFormFileName string
	var contentLocalVarFileName     string
	var contentLocalVarFileBytes    []byte

	contentLocalVarFormFileName = "content"


	contentLocalVarFile := r.content

	if contentLocalVarFile != nil {
		fbs, _ := io.ReadAll(contentLocalVarFile)

		contentLocalVarFileBytes = fbs
		contentLocalVarFileName = contentLocalVarFile.Name()
		contentLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: contentLocalVarFileBytes, fileName: contentLocalVarFileName, formFileName: contentLocalVarFormFileName})
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "action", r.action, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "sha256_digest", r.sha256Digest, "", "")
	if r.protocolVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "protocol_version", r.protocolVersion, "", "")
	}
	if r.filetype != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "filetype", r.filetype, "", "")
	}
	if r.metadataVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "metadata_version", r.metadataVersion, "", "")
	}
	if r.attestations != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "attestations", r.attestations, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PypiSimpleAPIPypiSimplePackageReadRequest struct {
	ctx context.Context
	ApiService *PypiSimpleAPIService
	package_ string
	path string
	pulpDomain string
	xTaskDiagnostics *[]string
	format *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PypiSimpleAPIPypiSimplePackageReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PypiSimpleAPIPypiSimplePackageReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PypiSimpleAPIPypiSimplePackageReadRequest) Format(format string) PypiSimpleAPIPypiSimplePackageReadRequest {
	r.format = &format
	return r
}

// A list of fields to include in the response.
func (r PypiSimpleAPIPypiSimplePackageReadRequest) Fields(fields []string) PypiSimpleAPIPypiSimplePackageReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PypiSimpleAPIPypiSimplePackageReadRequest) ExcludeFields(excludeFields []string) PypiSimpleAPIPypiSimplePackageReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PypiSimpleAPIPypiSimplePackageReadRequest) Execute() (*http.Response, error) {
	return r.ApiService.PypiSimplePackageReadExecute(r)
}

/*
PypiSimplePackageRead Get package simple page

View for the PyPI simple API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param package_
 @param path
 @param pulpDomain
 @return PypiSimpleAPIPypiSimplePackageReadRequest
*/
func (a *PypiSimpleAPIService) PypiSimplePackageRead(ctx context.Context, package_ string, path string, pulpDomain string) PypiSimpleAPIPypiSimplePackageReadRequest {
	return PypiSimpleAPIPypiSimplePackageReadRequest{
		ApiService: a,
		ctx: ctx,
		package_: package_,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
func (a *PypiSimpleAPIService) PypiSimplePackageReadExecute(r PypiSimpleAPIPypiSimplePackageReadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PypiSimpleAPIService.PypiSimplePackageRead")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pypi/{pulp_domain}/{path}/simple/{package}/"
	localVarPath = strings.Replace(localVarPath, "{"+"package"+"}", url.PathEscape(parameterValueToString(r.package_, "package_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PypiSimpleAPIPypiSimpleReadRequest struct {
	ctx context.Context
	ApiService *PypiSimpleAPIService
	path string
	pulpDomain string
	xTaskDiagnostics *[]string
	format *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PypiSimpleAPIPypiSimpleReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PypiSimpleAPIPypiSimpleReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PypiSimpleAPIPypiSimpleReadRequest) Format(format string) PypiSimpleAPIPypiSimpleReadRequest {
	r.format = &format
	return r
}

// A list of fields to include in the response.
func (r PypiSimpleAPIPypiSimpleReadRequest) Fields(fields []string) PypiSimpleAPIPypiSimpleReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PypiSimpleAPIPypiSimpleReadRequest) ExcludeFields(excludeFields []string) PypiSimpleAPIPypiSimpleReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PypiSimpleAPIPypiSimpleReadRequest) Execute() (*http.Response, error) {
	return r.ApiService.PypiSimpleReadExecute(r)
}

/*
PypiSimpleRead Get index simple page

View for the PyPI simple API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @param pulpDomain
 @return PypiSimpleAPIPypiSimpleReadRequest
*/
func (a *PypiSimpleAPIService) PypiSimpleRead(ctx context.Context, path string, pulpDomain string) PypiSimpleAPIPypiSimpleReadRequest {
	return PypiSimpleAPIPypiSimpleReadRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
func (a *PypiSimpleAPIService) PypiSimpleReadExecute(r PypiSimpleAPIPypiSimpleReadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PypiSimpleAPIService.PypiSimpleRead")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pypi/{pulp_domain}/{path}/simple/"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
