/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ApiDebugStaleLocksAPIService ApiDebugStaleLocksAPI service
type ApiDebugStaleLocksAPIService service

type ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest struct {
	ctx context.Context
	ApiService *ApiDebugStaleLocksAPIService
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest) Fields(fields []string) ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest) ExcludeFields(excludeFields []string) ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiPulpDebugStaleLocksGetExecute(r)
}

/*
ApiPulpDebugStaleLocksGet Method for ApiPulpDebugStaleLocksGet

Admin-only endpoint that scans Redis for orphaned/stale locks.Performs a system-wide scan of all Redis resource lock keys(pulp:resource_lock:*) and task lock keys (task:*), checks whethereach lock holder is still an online AppStatus process, and flagsorphaned locks from dead workers.This is the primary tool for proactive detection of Bug 2: Redis locksthat persist forever because a worker died without cleaning up. Unliketask-debug (which examines a single task) or task-queue (which examineswaiting/running tasks), this endpoint discovers ALL locks in Redisregardless of task state -- including locks left behind by tasks thathave already completed, failed, or been canceled.Query parameters:    include_healthy (bool): If "true", include locks held by online        processes in the response. Default: false (only show stale/orphaned).    page_size (int): Maximum number of lock keys to return per page.        Default: 100.  Max: 500.    cursor (int): Redis SCAN cursor to resume from.  Default: 0 (start).    scan_type (str): Which lock types to scan -- "resource", "task", or        "all" (default).Response structure:    summary: Counts of total, orphaned, and healthy locks    orphaned_resource_locks: Resource locks held by dead processes    orphaned_task_locks: Task locks held by dead processes    healthy_resource_locks: (optional) Locks held by online processes    healthy_task_locks: (optional) Task locks held by online processes    lock_holder_liveness: Liveness status of all unique lock holders    task_correlations: Mapping of orphaned resources to related tasks    worker_summary: Current online worker/API process counts    next_cursor: Redis SCAN cursor to pass on the next request (0 = done)    has_more: Whether more results are available    page_size: The page_size that was used    scan_type: The scan_type that was used

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest
*/
func (a *ApiDebugStaleLocksAPIService) ApiPulpDebugStaleLocksGet(ctx context.Context) ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest {
	return ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ApiDebugStaleLocksAPIService) ApiPulpDebugStaleLocksGetExecute(r ApiDebugStaleLocksAPIApiPulpDebugStaleLocksGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiDebugStaleLocksAPIService.ApiPulpDebugStaleLocksGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/debug/stale-locks/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
