/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentMavenIndexPageAPIService ContentMavenIndexPageAPI service
type ContentMavenIndexPageAPIService service

type ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest struct {
	ctx context.Context
	ApiService *ContentMavenIndexPageAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	addedBetween *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	removedBetween *[]string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) AddedBetween(addedBetween []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.addedBetween = &addedBetween
	return r
}

// Number of results to return per page.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Limit(limit int32) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Offset(offset int32) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Ordering(ordering []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) OrphanedFor(orphanedFor float32) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) PrnIn(prnIn []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) PulpHrefIn(pulpHrefIn []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) PulpIdIn(pulpIdIn []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) PulpLabelSelect(pulpLabelSelect string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Q(q string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.q = &q
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) RemovedBetween(removedBetween []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.removedBetween = &removedBetween
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) RepositoryVersion(repositoryVersion string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Fields(fields []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) ExcludeFields(excludeFields []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) Execute() (*PaginatedmavenMavenIndexPageResponseList, *http.Response, error) {
	return r.ApiService.ContentMavenMavenIndexPageListExecute(r)
}

/*
ContentMavenMavenIndexPageList List maven index pages

A read-only ViewSet for MavenIndexPage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest
*/
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageList(ctx context.Context, pulpDomain string) ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest {
	return ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedmavenMavenIndexPageResponseList
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageListExecute(r ContentMavenIndexPageAPIContentMavenMavenIndexPageListRequest) (*PaginatedmavenMavenIndexPageResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedmavenMavenIndexPageResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMavenIndexPageAPIService.ContentMavenMavenIndexPageList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/maven/maven/index-page/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.addedBetween != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "added_between", r.addedBetween, "form", "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.removedBetween != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removed_between", r.removedBetween, "form", "csv")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest struct {
	ctx context.Context
	ApiService *ContentMavenIndexPageAPIService
	mavenMavenIndexPageHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest) Fields(fields []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest) ExcludeFields(excludeFields []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest) Execute() (*MavenMavenIndexPageResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMavenIndexPageReadExecute(r)
}

/*
ContentMavenMavenIndexPageRead Inspect a maven index page

A read-only ViewSet for MavenIndexPage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenIndexPageHref
 @return ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest
*/
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageRead(ctx context.Context, mavenMavenIndexPageHref string) ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest {
	return ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenIndexPageHref: mavenMavenIndexPageHref,
	}
}

// Execute executes the request
//  @return MavenMavenIndexPageResponse
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageReadExecute(r ContentMavenIndexPageAPIContentMavenMavenIndexPageReadRequest) (*MavenMavenIndexPageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MavenMavenIndexPageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMavenIndexPageAPIService.ContentMavenMavenIndexPageRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_index_page_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_index_page_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenIndexPageHref, "mavenMavenIndexPageHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentMavenIndexPageAPIService
	mavenMavenIndexPageHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest) SetLabel(setLabel SetLabel) ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMavenIndexPageSetLabelExecute(r)
}

/*
ContentMavenMavenIndexPageSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenIndexPageHref
 @return ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest
*/
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageSetLabel(ctx context.Context, mavenMavenIndexPageHref string) ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest {
	return ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenIndexPageHref: mavenMavenIndexPageHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageSetLabelExecute(r ContentMavenIndexPageAPIContentMavenMavenIndexPageSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMavenIndexPageAPIService.ContentMavenMavenIndexPageSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_index_page_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_index_page_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenIndexPageHref, "mavenMavenIndexPageHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentMavenIndexPageAPIService
	mavenMavenIndexPageHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentMavenMavenIndexPageUnsetLabelExecute(r)
}

/*
ContentMavenMavenIndexPageUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mavenMavenIndexPageHref
 @return ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest
*/
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageUnsetLabel(ctx context.Context, mavenMavenIndexPageHref string) ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest {
	return ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		mavenMavenIndexPageHref: mavenMavenIndexPageHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentMavenIndexPageAPIService) ContentMavenMavenIndexPageUnsetLabelExecute(r ContentMavenIndexPageAPIContentMavenMavenIndexPageUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentMavenIndexPageAPIService.ContentMavenMavenIndexPageUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{maven_maven_index_page_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"maven_maven_index_page_href"+"}", url.PathEscape(parameterValueToString(r.mavenMavenIndexPageHref, "mavenMavenIndexPageHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
