/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ApiPublicDebugAuthHeaderAPIService ApiPublicDebugAuthHeaderAPI service
type ApiPublicDebugAuthHeaderAPIService service

type ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest struct {
	ctx context.Context
	ApiService *ApiPublicDebugAuthHeaderAPIService
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest) Fields(fields []string) ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest) ExcludeFields(excludeFields []string) ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest) Execute() (*PublicDebugAuthenticationHeadersResponse, *http.Response, error) {
	return r.ApiService.PublicDebugAuthHeaderExecute(r)
}

/*
PublicDebugAuthHeader Method for PublicDebugAuthHeader

Return safe diagnostics about headers received from the edge.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest
*/
func (a *ApiPublicDebugAuthHeaderAPIService) PublicDebugAuthHeader(ctx context.Context) ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest {
	return ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PublicDebugAuthenticationHeadersResponse
func (a *ApiPublicDebugAuthHeaderAPIService) PublicDebugAuthHeaderExecute(r ApiPublicDebugAuthHeaderAPIPublicDebugAuthHeaderRequest) (*PublicDebugAuthenticationHeadersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicDebugAuthenticationHeadersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiPublicDebugAuthHeaderAPIService.PublicDebugAuthHeader")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/public-debug_auth_header/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
