/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentViewsAPIService ContentViewsAPI service
type ContentViewsAPIService service

type ContentViewsAPIContentViewsAddRoleRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsAddRoleRequest) NestedRole(nestedRole NestedRole) ContentViewsAPIContentViewsAddRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsAddRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsAddRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsAddRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.ContentViewsAddRoleExecute(r)
}

/*
ContentViewsAddRole Add a role

Add a role for this object to users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsAddRoleRequest
*/
func (a *ContentViewsAPIService) ContentViewsAddRole(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsAddRoleRequest {
	return ContentViewsAPIContentViewsAddRoleRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *ContentViewsAPIService) ContentViewsAddRoleExecute(r ContentViewsAPIContentViewsAddRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}add_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsCreateRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	pulpDomain string
	serviceContentView *ServiceContentView
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsCreateRequest) ServiceContentView(serviceContentView ServiceContentView) ContentViewsAPIContentViewsCreateRequest {
	r.serviceContentView = &serviceContentView
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsCreateRequest) Execute() (*ServiceContentViewResponse, *http.Response, error) {
	return r.ApiService.ContentViewsCreateExecute(r)
}

/*
ContentViewsCreate Create a content view

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentViewsAPIContentViewsCreateRequest
*/
func (a *ContentViewsAPIService) ContentViewsCreate(ctx context.Context, pulpDomain string) ContentViewsAPIContentViewsCreateRequest {
	return ContentViewsAPIContentViewsCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return ServiceContentViewResponse
func (a *ContentViewsAPIService) ContentViewsCreateExecute(r ContentViewsAPIContentViewsCreateRequest) (*ServiceContentViewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceContentViewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content-views/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceContentView == nil {
		return localVarReturnValue, nil, reportError("serviceContentView is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.serviceContentView
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsDeleteRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ContentViewsDeleteExecute(r)
}

/*
ContentViewsDelete Delete a content view

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsDeleteRequest
*/
func (a *ContentViewsAPIService) ContentViewsDelete(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsDeleteRequest {
	return ContentViewsAPIContentViewsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
func (a *ContentViewsAPIService) ContentViewsDeleteExecute(r ContentViewsAPIContentViewsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsListRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentViewsAPIContentViewsListRequest) Limit(limit int32) ContentViewsAPIContentViewsListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r ContentViewsAPIContentViewsListRequest) Name(name string) ContentViewsAPIContentViewsListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r ContentViewsAPIContentViewsListRequest) NameContains(nameContains string) ContentViewsAPIContentViewsListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r ContentViewsAPIContentViewsListRequest) NameIcontains(nameIcontains string) ContentViewsAPIContentViewsListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r ContentViewsAPIContentViewsListRequest) NameIexact(nameIexact string) ContentViewsAPIContentViewsListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r ContentViewsAPIContentViewsListRequest) NameIn(nameIn []string) ContentViewsAPIContentViewsListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r ContentViewsAPIContentViewsListRequest) NameIregex(nameIregex string) ContentViewsAPIContentViewsListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r ContentViewsAPIContentViewsListRequest) NameIstartswith(nameIstartswith string) ContentViewsAPIContentViewsListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r ContentViewsAPIContentViewsListRequest) NameRegex(nameRegex string) ContentViewsAPIContentViewsListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r ContentViewsAPIContentViewsListRequest) NameStartswith(nameStartswith string) ContentViewsAPIContentViewsListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r ContentViewsAPIContentViewsListRequest) Offset(offset int32) ContentViewsAPIContentViewsListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentViewsAPIContentViewsListRequest) Ordering(ordering []string) ContentViewsAPIContentViewsListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r ContentViewsAPIContentViewsListRequest) PrnIn(prnIn []string) ContentViewsAPIContentViewsListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentViewsAPIContentViewsListRequest) PulpHrefIn(pulpHrefIn []string) ContentViewsAPIContentViewsListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentViewsAPIContentViewsListRequest) PulpIdIn(pulpIdIn []string) ContentViewsAPIContentViewsListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentViewsAPIContentViewsListRequest) PulpLabelSelect(pulpLabelSelect string) ContentViewsAPIContentViewsListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentViewsAPIContentViewsListRequest) Q(q string) ContentViewsAPIContentViewsListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r ContentViewsAPIContentViewsListRequest) Fields(fields []string) ContentViewsAPIContentViewsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsAPIContentViewsListRequest) ExcludeFields(excludeFields []string) ContentViewsAPIContentViewsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsAPIContentViewsListRequest) Execute() (*PaginatedserviceContentViewResponseList, *http.Response, error) {
	return r.ApiService.ContentViewsListExecute(r)
}

/*
ContentViewsList List content views

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentViewsAPIContentViewsListRequest
*/
func (a *ContentViewsAPIService) ContentViewsList(ctx context.Context, pulpDomain string) ContentViewsAPIContentViewsListRequest {
	return ContentViewsAPIContentViewsListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedserviceContentViewResponseList
func (a *ContentViewsAPIService) ContentViewsListExecute(r ContentViewsAPIContentViewsListRequest) (*PaginatedserviceContentViewResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedserviceContentViewResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content-views/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsListRolesRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsListRolesRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsListRolesRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentViewsAPIContentViewsListRolesRequest) Fields(fields []string) ContentViewsAPIContentViewsListRolesRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsAPIContentViewsListRolesRequest) ExcludeFields(excludeFields []string) ContentViewsAPIContentViewsListRolesRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsAPIContentViewsListRolesRequest) Execute() (*ObjectRolesResponse, *http.Response, error) {
	return r.ApiService.ContentViewsListRolesExecute(r)
}

/*
ContentViewsListRoles List roles

List roles assigned to this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsListRolesRequest
*/
func (a *ContentViewsAPIService) ContentViewsListRoles(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsListRolesRequest {
	return ContentViewsAPIContentViewsListRolesRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return ObjectRolesResponse
func (a *ContentViewsAPIService) ContentViewsListRolesExecute(r ContentViewsAPIContentViewsListRolesRequest) (*ObjectRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectRolesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsListRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}list_roles/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsMyPermissionsRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsMyPermissionsRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsMyPermissionsRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentViewsAPIContentViewsMyPermissionsRequest) Fields(fields []string) ContentViewsAPIContentViewsMyPermissionsRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsAPIContentViewsMyPermissionsRequest) ExcludeFields(excludeFields []string) ContentViewsAPIContentViewsMyPermissionsRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsAPIContentViewsMyPermissionsRequest) Execute() (*MyPermissionsResponse, *http.Response, error) {
	return r.ApiService.ContentViewsMyPermissionsExecute(r)
}

/*
ContentViewsMyPermissions List user permissions

List permissions available to the current user on this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsMyPermissionsRequest
*/
func (a *ContentViewsAPIService) ContentViewsMyPermissions(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsMyPermissionsRequest {
	return ContentViewsAPIContentViewsMyPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return MyPermissionsResponse
func (a *ContentViewsAPIService) ContentViewsMyPermissionsExecute(r ContentViewsAPIContentViewsMyPermissionsRequest) (*MyPermissionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MyPermissionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsMyPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}my_permissions/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	patchedserviceContentView *PatchedserviceContentView
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsPartialUpdateRequest) PatchedserviceContentView(patchedserviceContentView PatchedserviceContentView) ContentViewsAPIContentViewsPartialUpdateRequest {
	r.patchedserviceContentView = &patchedserviceContentView
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsPartialUpdateRequest) Execute() (*ServiceContentViewResponse, *http.Response, error) {
	return r.ApiService.ContentViewsPartialUpdateExecute(r)
}

/*
ContentViewsPartialUpdate Update a content view

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsPartialUpdateRequest
*/
func (a *ContentViewsAPIService) ContentViewsPartialUpdate(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsPartialUpdateRequest {
	return ContentViewsAPIContentViewsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return ServiceContentViewResponse
func (a *ContentViewsAPIService) ContentViewsPartialUpdateExecute(r ContentViewsAPIContentViewsPartialUpdateRequest) (*ServiceContentViewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceContentViewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedserviceContentView == nil {
		return localVarReturnValue, nil, reportError("patchedserviceContentView is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedserviceContentView
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsReadRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentViewsAPIContentViewsReadRequest) Fields(fields []string) ContentViewsAPIContentViewsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsAPIContentViewsReadRequest) ExcludeFields(excludeFields []string) ContentViewsAPIContentViewsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsAPIContentViewsReadRequest) Execute() (*ServiceContentViewResponse, *http.Response, error) {
	return r.ApiService.ContentViewsReadExecute(r)
}

/*
ContentViewsRead Inspect a content view

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsReadRequest
*/
func (a *ContentViewsAPIService) ContentViewsRead(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsReadRequest {
	return ContentViewsAPIContentViewsReadRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return ServiceContentViewResponse
func (a *ContentViewsAPIService) ContentViewsReadExecute(r ContentViewsAPIContentViewsReadRequest) (*ServiceContentViewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceContentViewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsRemoveRoleRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsRemoveRoleRequest) NestedRole(nestedRole NestedRole) ContentViewsAPIContentViewsRemoveRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsRemoveRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsRemoveRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsRemoveRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.ContentViewsRemoveRoleExecute(r)
}

/*
ContentViewsRemoveRole Remove a role

Remove a role for this object from users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsRemoveRoleRequest
*/
func (a *ContentViewsAPIService) ContentViewsRemoveRole(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsRemoveRoleRequest {
	return ContentViewsAPIContentViewsRemoveRoleRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *ContentViewsAPIService) ContentViewsRemoveRoleExecute(r ContentViewsAPIContentViewsRemoveRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsRemoveRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}remove_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsSetLabelRequest) SetLabel(setLabel SetLabel) ContentViewsAPIContentViewsSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentViewsSetLabelExecute(r)
}

/*
ContentViewsSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsSetLabelRequest
*/
func (a *ContentViewsAPIService) ContentViewsSetLabel(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsSetLabelRequest {
	return ContentViewsAPIContentViewsSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentViewsAPIService) ContentViewsSetLabelExecute(r ContentViewsAPIContentViewsSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentViewsAPIContentViewsUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentViewsUnsetLabelExecute(r)
}

/*
ContentViewsUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsUnsetLabelRequest
*/
func (a *ContentViewsAPIService) ContentViewsUnsetLabel(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsUnsetLabelRequest {
	return ContentViewsAPIContentViewsUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentViewsAPIService) ContentViewsUnsetLabelExecute(r ContentViewsAPIContentViewsUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentViewsAPIContentViewsUpdateRequest struct {
	ctx context.Context
	ApiService *ContentViewsAPIService
	serviceContentViewHref string
	serviceContentView *ServiceContentView
	xTaskDiagnostics *[]string
}

func (r ContentViewsAPIContentViewsUpdateRequest) ServiceContentView(serviceContentView ServiceContentView) ContentViewsAPIContentViewsUpdateRequest {
	r.serviceContentView = &serviceContentView
	return r
}

// List of profilers to use on tasks.
func (r ContentViewsAPIContentViewsUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsAPIContentViewsUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentViewsAPIContentViewsUpdateRequest) Execute() (*ServiceContentViewResponse, *http.Response, error) {
	return r.ApiService.ContentViewsUpdateExecute(r)
}

/*
ContentViewsUpdate Update a content view

ViewSet for ContentView.A ContentView is a named, persistable scope composed of Distributions -- potentiallyspanning multiple domains -- that can be searched across (see the nested``content-views/{content_view_pk}/search/rpm/...`` endpoints below for the actual searchoperations; this viewset only provides the standard CRUD lifecycle for the resource itself).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsAPIContentViewsUpdateRequest
*/
func (a *ContentViewsAPIService) ContentViewsUpdate(ctx context.Context, serviceContentViewHref string) ContentViewsAPIContentViewsUpdateRequest {
	return ContentViewsAPIContentViewsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return ServiceContentViewResponse
func (a *ContentViewsAPIService) ContentViewsUpdateExecute(r ContentViewsAPIContentViewsUpdateRequest) (*ServiceContentViewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceContentViewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsAPIService.ContentViewsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.serviceContentView == nil {
		return localVarReturnValue, nil, reportError("serviceContentView is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.serviceContentView
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
