/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ApiMigrateDomainAPIService ApiMigrateDomainAPI service
type ApiMigrateDomainAPIService service

type ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest struct {
	ctx context.Context
	ApiService *ApiMigrateDomainAPIService
	apiPulpMigrateDomainCreateRequest *ApiPulpMigrateDomainCreateRequest
	xTaskDiagnostics *[]string
}

func (r ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest) ApiPulpMigrateDomainCreateRequest(apiPulpMigrateDomainCreateRequest ApiPulpMigrateDomainCreateRequest) ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest {
	r.apiPulpMigrateDomainCreateRequest = &apiPulpMigrateDomainCreateRequest
	return r
}

// List of profilers to use on tasks.
func (r ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ApiPulpMigrateDomainCreateExecute(r)
}

/*
ApiPulpMigrateDomainCreate Migrate domain storage to S3

Trigger a storage backend migration for the specified domain. Storage settings are sourced from the template-domain-s3 domain — callers do not need to provide any storage credentials.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest
*/
func (a *ApiMigrateDomainAPIService) ApiPulpMigrateDomainCreate(ctx context.Context) ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest {
	return ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ApiMigrateDomainAPIService) ApiPulpMigrateDomainCreateExecute(r ApiMigrateDomainAPIApiPulpMigrateDomainCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiMigrateDomainAPIService.ApiPulpMigrateDomainCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/migrate-domain/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiPulpMigrateDomainCreateRequest == nil {
		return localVarReturnValue, nil, reportError("apiPulpMigrateDomainCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.apiPulpMigrateDomainCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
