/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentViewsRpmErrataAPIService ContentViewsRpmErrataAPI service
type ContentViewsRpmErrataAPIService service

type ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest struct {
	ctx context.Context
	ApiService *ContentViewsRpmErrataAPIService
	serviceContentViewHref string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	search *string
	severity *string
	sortBy *string
	type_ *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Maximum number of results to return.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Limit(limit int32) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.limit = &limit
	return r
}

// Number of results to skip.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Offset(offset int32) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.offset = &offset
	return r
}

// Case-insensitive substring/prefix search term.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Search(search string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.search = &search
	return r
}

// Comma-separated list of errata severities to include (known values: [&#39;critical&#39;, &#39;important&#39;, &#39;low&#39;, &#39;moderate&#39;, &#39;none&#39;]; anything else matches as an &#39;other&#39; catch-all bucket).
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Severity(severity string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.severity = &severity
	return r
}

// Field to sort by; prefix with &#39;-&#39; for descending order.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) SortBy(sortBy string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.sortBy = &sortBy
	return r
}

// Comma-separated list of errata types to include (known values: [&#39;bugfix&#39;, &#39;enhancement&#39;, &#39;newpackage&#39;, &#39;security&#39;]; anything else matches as an &#39;other&#39; catch-all bucket).
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Type_(type_ string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.type_ = &type_
	return r
}

// A list of fields to include in the response.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Fields(fields []string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) ExcludeFields(excludeFields []string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) Execute() (*PaginatedContentViewErrataResponseList, *http.Response, error) {
	return r.ApiService.ContentViewsSearchRpmErrataListExecute(r)
}

/*
ContentViewsSearchRpmErrataList List content view search scopes

Full errata (advisory) search: filter/sort/paginate, with CVE references included.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceContentViewHref
 @return ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest
*/
func (a *ContentViewsRpmErrataAPIService) ContentViewsSearchRpmErrataList(ctx context.Context, serviceContentViewHref string) ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest {
	return ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest{
		ApiService: a,
		ctx: ctx,
		serviceContentViewHref: serviceContentViewHref,
	}
}

// Execute executes the request
//  @return PaginatedContentViewErrataResponseList
func (a *ContentViewsRpmErrataAPIService) ContentViewsSearchRpmErrataListExecute(r ContentViewsRpmErrataAPIContentViewsSearchRpmErrataListRequest) (*PaginatedContentViewErrataResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedContentViewErrataResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentViewsRpmErrataAPIService.ContentViewsSearchRpmErrataList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_content_view_href}search/rpm/errata/"
	localVarPath = strings.Replace(localVarPath, "{"+"service_content_view_href"+"}", url.PathEscape(parameterValueToString(r.serviceContentViewHref, "serviceContentViewHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
